{{#modal-dialog translucentOverlay=true close="closeModalDialog"}}
<h3 {{action "closeModalDialog" on="click"}} class="exit">x</h3>
  <div class="container">
    <div class="section new-challenge">
      <div class="container">
        <h1 class="text__title center">Edit Challenge</h1>
        {{#with (changeset model formValidations) as |changeset|}}
          <form {{action "saveEdits" changeset on="submit"}}>
            {{input type="text" value=changeset.title placeholder="Title" class="form"}}
            {{textarea rows="10" cols="45" value=changeset.description placeholder="Description" class="form"}}
            <div class="button-bar">
              <button class="button button--black button--fullwidth">submit</button>
            </div>
          </form>
        {{/with}}
      </div>
    </div>
  </div>
{{/modal-dialog}}
