<div class="section">
  <div class="container">
    <h1>Upload Video</h1>

    {{#with (changeset formValues) as |changeset|}}
      <form {{action "submitVideo" changeset on="submit"}}>
        <p>{{input type="url" value=changeset.videoUrl placeholder="Video URL"}}</p>
        <p>{{input type="text" value=changeset.title placeholder="Post Title"}}</p>
        <p>{{input type="text" value=changeset.description placeholder="Post Description"}}</p>
        {{#link-to 'instrument.challenge.video'}}
          {{!-- <button class="button button--black">Back</button> --}}
        {{/link-to}}
        <button class="button button--black">Submit</button>
      </form>
    {{/with}}
  </div>
</div>
