.ember-modal-dialog {
  width: calc(50% - 4rem);
  max-width: $m-maxwidth;
  padding: 2rem;
}

.video-modal {
  top: 50%;
  left: 50%;
  height: 70vh;
  width: 65%;
  min-width: $m-maxwidth;
  transform: translate(-50%, -50%);
}

.comment {
  margin: 0;

  &-modal {
    display: flex;

    &__info {
      width: 100%;
      margin-left: 1rem;
    }
  }

  &-feed {
    height: 35vh;
    overflow: scroll;

    > * + * {
      border-top: rgba($c-black, .2) .25px solid;
    }

    &-box {
      width: 100%;
      margin: 0;
      padding: 0.5rem;
    }
  }

  &-input {
    width: 70%;
    margin: 0.4rem;
    padding: 0.4rem;
  }
}

.username {
  margin: 0;
  color: rgba($c-black, .5);
}

.small-text {
  margin: 0.2rem 0 0 0;
  color: rgba($c-black, 0.4);
  font-size: 14px;
}
