body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 65rem;
}

a {
  color: $c-black;
  text-decoration: none;
}

input, textarea {
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 3px;
  line-height: inherit;
}
