$c-black: #141618;
$c-white: #fff;
$c-img-hvr-white: $c-white, 0.3;

$m-gutter: 1rem;

$b-primary: 2.5px solid $c-black;

@import 'reset';
@import 'hover';
@import 'application';
@import 'instrument-index';
@import 'challenge-index';
@import 'challenge-new';
@import 'user-profile';

.section {
  padding: $m-gutter;
}

.container {
  max-width: 70rem;
  margin: auto;
}

.button {
  margin: 0.5rem $m-gutter;
  padding: $m-gutter;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.text {
  letter-spacing: 4px;
  text-transform: uppercase;

  &__lowercase {
    letter-spacing: 3px;
  }

  &__title {
    letter-spacing: 6px;
    text-transform: uppercase;
  }
}

.form-box {
  width: 30vw;
}
