$m-gutter: 1rem;
$c-black: #141618;
$c-white: #FFF;

@import 'reset';
@import 'hover';

@import 'application';
@import 'instrument-index';

@import 'challenge-index';
@import 'challenge-new';

@import 'video-index';

.section {
  padding: $m-gutter;
}

.container {
  max-width: 70rem;
  margin: auto;
}

.button {
  margin: 0.5rem $m-gutter;
  padding: $m-gutter;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.form {

  &__text {
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__box {
    width: 30vw;
  }
}
