.banner {
  padding: $m-gutter;
  background: $c-white;
  color: $c-black;

  &__navbar {
    margin: 0 ($m-gutter * 2);
  }
}

.navlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  padding: $m-gutter;
  text-align: center;
}

.copyright {
  letter-spacing: 4px;
  text-transform: uppercase;
}
