.challenges {

  &__header {
    text-align: center;
    text-transform: uppercase;

    &--title {
      margin: 0;
      font-size: 2rem;
      letter-spacing: 10px;
    }

    &--subtitle {
      margin: 0;
      letter-spacing: 4px;
    }

    &-vocals {
      padding: $m-gutter * 4;
      background: linear-gradient(45deg, $c-white, $c-white 10%, $c-transparent-white), url('/img/vocals-bg.jpg'), fixed;
      background-position: center;
      background-size: cover;
    }

    &--guitar {
      padding: $m-gutter * 4;
      background: linear-gradient(45deg, $c-white, $c-white 10%, $c-transparent-white), url('/img/guitar-bg.jpg'), fixed;
      background-position: center;
      background-size: cover;
    }

    &--keys {
      padding: $m-gutter * 4;
      background: linear-gradient(45deg, $c-white, $c-white 10%, $c-transparent-white), url('/img/keys-bg.jpg'), fixed;
      background-position: center;
      background-size: cover;
    }

    &--drums {
      padding: $m-gutter * 4;
      background: linear-gradient(45deg, $c-white, $c-white 10%, $c-transparent-white), url('/img/drums-bg.jpg'), fixed;
      background-position: center;
      background-size: cover;
    }

    &--bass {
      padding: $m-gutter * 4;
      background: linear-gradient(45deg, $c-white, $c-white 10%, $c-transparent-white), url('/img/bass-bg.jpg'), fixed;
      background-position: center;
      background-size: cover;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-basis: calc(100% / 2 - 5rem);
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin: $m-gutter;
    padding: $m-gutter;
    border: $c-black 0.15rem solid;
  }
}
