.row {
  display: flex;

  &__item {
    flex-basis: calc(100% / 5);
    margin: $m-gutter;
  }
}

.instrument {
  position: relative;
  height: 20rem;

  &--vocals {
    height: 100%;
    background: url('/img/franklin.jpg') no-repeat center;

    &:hover {
      opacity: 0.2;
    }
  }

  &--guitar {
    height: 100%;
    background: url('/img/pass.jpg') no-repeat center;
    object-fit: cover;

    &:hover {
      opacity: 0.2;
    }
  }

  &--keys {
    height: 100%;
    background: url('/img/herbie.jpg') no-repeat center;
    object-fit: cover;

    &:hover {
      opacity: 0.2;
    }
  }

  &--drums {
    height: 100%;
    background: url('/img/bonham.jpg') no-repeat center;

    &:hover {
      opacity: 0.2;
    }
  }

  &--bass {
    height: 100%;
    background: url('/img/jaco.jpg') no-repeat center;

    &:hover {
      opacity: 0.2;
    }
  }

  &__title {
    display: none;

    &:hover {
      display: block;
      color: $c-black;
      text-transform: uppercase;
    }
  }

  .box {
    &::before {
      display: inline-block;
      position: absolute;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
    }
  }


  &__image {
    position: relative;
    height: 20rem;
    cursor: pointer;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}
