.row {
  display: flex;
  width: 100%;

  &__item {
    flex-basis: calc(100% / 5);
    margin: $m-gutter / 2;
  }
}

.instrument {
  display: block;
  position: relative;
  align-items: center;
  height: 60vh;

  &__title {
    display: none;
    position: absolute;
    top: 35%;
    left: 20%;
    height: 60vh;

    *:hover > & {
      display: block;
      color: $c-black;
    }

  }

  &__bg {
    height: 100%;
    transition: opacity 400ms;

    &:hover {
      opacity: 0.2;
    }

    &--vocals {
      background: url('/img/aretha.jpg') no-repeat center;
      background-size: cover;
    }

    &--guitar {
      background: url('/img/pass.jpg') no-repeat center;
      background-size: cover;
    }

    &--keys {
      background: url('/img/herbie.jpg') no-repeat center;
      background-size: cover;
    }

    &--drums {
      background: url('/img/ringo.jpg') no-repeat center;
      background-size: cover;
    }

    &--bass {
      background: url('/img/pino.jpg') no-repeat center;
      background-size: cover;
    }
  }

  &__image {
    position: relative;
    height: 20rem;
    cursor: pointer;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
