.row {
  display: flex;

  &__item {
    width: calc(100% / 5 - 2rem);
    margin: $m-gutter;
  }
}

.instrument {
  position: relative;
  width: 15rem;
  height: 20rem;

  &--vocals {
    height: 100%;
    background: url('/img/franklin.jpg') no-repeat center;
  }

  &--guitar {
    height: 100%;
    background: url('/img/pass.jpg') no-repeat center;
    object-fit: cover;
  }

  &--keys {
    height: 100%;
    background: url('/img/herbie.jpg') no-repeat center;
    background-size: 180%;
    object-fit: cover;
  }

  &--drums {
    background: url('/img/bonham.jpg') no-repeat center;
    background-size: 105%;
    height: 100%;
  }

  &--bass {
    height: 100%;
    background: url('/img/jaco.jpg') no-repeat center;
    background-size: 160%;
  }

  &__title {
    position: absolute;
    color: $c-black;
    text-transform: uppercase;
  }

  .box {
    &::before {
      display: inline-block;
      position: absolute;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
    }

    &:hover::before {
      background: transparentize($c-white, 0.3);
    }

    &:hover .instrument__title {
      color: $c-black;
    }
  }


  &__image {
    position: relative;
    height: 20rem;
    cursor: pointer;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}
//
// .instrument {
//   background: red;
// }
