.video {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  min-width: 30rem;
  max-width: calc(100% / 2 - 2rem);
  margin: $m-gutter;
  padding: $m-gutter;
  border: $b-primary;

  &-title {
    margin: 0;
  }

  &-description {
    margin: 0.5rem 0;
  }

  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
