<div class="section">
  <div class="container">
    <div class="grid">
      {{#each model.challenges as |challenge|}}
          <div class="grid__item">
            {{#link-to 'instrument.challenge.video' challenge}}
              <h1 class="challenge-title">{{challenge.title}}</h1>
            {{/link-to}}
            <p>{{challenge.description}}</p>
            <p>
              {{#link-to 'instrument.challenge.edit' challenge}}
              <button>Edit</button>
              {{/link-to}}
              <button {{action "deleteChallenge" challenge}}>Delete</button>
            </p>
          </div>

        {{else}}
        <p>No challenges to display. Add a
        {{#link-to 'instrument.challenge.new'}}
           new challenge!
        {{/link-to}}
        </p>
      {{/each}}
    </div>
  </div>
</div>
