<div class="section">
  <div class="container">
    <div class="grid">
      {{#each model as |challenge|}}
          <div class="grid__item">
            {{#link-to 'instrument.challenge.video' challenge}}
              <h1 class="challenge-title">{{challenge.title}}</h1>
            {{/link-to}}
            <p>{{challenge.description}}</p>
            <p>
              <button {{action "deleteChallenge" challenge}}>Delete</button>
              {{#link-to 'instrument.challenge.edit' challenge}}
                <button>Edit</button>
              {{/link-to}}
            </p>
          </div>
      {{/each}}
    </div>
  </div>
</div>
