<div class="section">
  <div class="container">
    <div class="new-challenge">
      {{#link-to 'instrument.challenge.new'}}
      <div class="button hvr-border-fade">
          New Challenge
      </div>
      {{/link-to}}
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="grid">
      {{#each model.challenges as |challenge|}}
          <div class="grid__item">
            <div class="card">
              <div class="card__content center section">
                <h3 class="text__title">
                  {{#link-to 'instrument.challenge.video' challenge}}
                  {{challenge.title}}
                  {{/link-to}}
                </h3>
                <p class="text__lowercase">{{challenge.description}}</p>
              </div>
              <div class="card__footer">
                <p class="button-bar">
                  {{#link-to 'instrument.challenge.edit' challenge}}
                    <div class="button button--black">Edit</div>
                  {{/link-to}}
                  <div class="button button--black" {{action "deleteChallenge" challenge}}>Delete</div>
                </p>
              </div>
            </div>
          </div>

        {{else}}
        <div class="section">
          <div class="container">
            <p class="text form-box">No challenges to display. Add a
              {{#link-to 'instrument.challenge.new'}}
                new challenge!
              {{/link-to}}
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
