{{#link-to 'instrument.challenge.new'}}
  <button>New Challenge</button>
{{/link-to}}

{{#each model as |challenge|}}
  <h1>{{challenge.title}}</h1>
  <p>{{challenge.description}}</p>
  <button {{action "deleteChallenge" challenge}}>Delete</button>
  {{#link-to 'instrument.challenge.edit' challenge}}
    <button>Edit</button>
  {{/link-to}}
{{/each}}
