<div class="section">
  <div class="container">
    <div class="new-challenge">
      <div class="button hvr-border-fade">
        {{#link-to 'instrument.challenge.new'}}
          New Challenge
        {{/link-to}}
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="grid">
      {{#each model.challenges as |challenge|}}
          <div class="grid__item">
            {{#link-to 'instrument.challenge.video' challenge}}
              <h2 class="text__title">{{challenge.title}}</h2>
            {{/link-to}}
            <h3 class="text__lowercase">{{challenge.description}}</h3>
            <p>
              {{#link-to 'instrument.challenge.edit' challenge}}
              <button class="button__black">Edit</button>
              {{/link-to}}
              <button class="button__black" {{action "deleteChallenge" challenge}}>Delete</button>
            </p>
          </div>

        {{else}}
        <p>No challenges to display. Add a
        {{#link-to 'instrument.challenge.new'}}
           <u>new challenge!</u>
        {{/link-to}}
        </p>
      {{/each}}
    </div>
  </div>
</div>
