{{ outlet }}

<div class="app">
  <nav class="navbar navbar-default">
    <div class="container-fluid container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand" href="#">Practip</a>
        <ul class="nav navbar-nav navbar-right">
          <li>
            {{#link-to 'index'}}Register{{/link-to}}
          </li>
          <li>
            {{#link-to 'index'}}Login{{/link-to}}
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="row__item">
          <div class="col-xs-3 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://placecage.com/200/200" alt="">
            </a>
          </div>
        </div>
        <div class="row__item">
          <div class="col-xs-3 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://placecage.com/200/200" alt="">
            </a>
          </div>
        </div>
        <div class="row__item">
          <div class="col-xs-3 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://placecage.com/200/200" alt="">
            </a>
          </div>
        </div>
        <div class="row__item">
          <div class="col-xs-3 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://placecage.com/200/200" alt="">
            </a>
          </div>
        </div>
        <div class="row__item">
          <div class="col-xs-3 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://placecage.com/200/200" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
