<header class="banner">
  <nav class="banner__navbar">
    <div class="container">
      <div class="navlist navlist__left">
        <div class="button hvr-border-fade" href="#">
          {{#link-to "instrument"}}Home{{/link-to}}
        </div>
        <ul class="navlist navlist__right">
          {{#if session.isAuthenticated}}
            {{!-- {{#link-to "user-profile" class="button hvr-border-fade"}}
              Profile
            {{/link-to}} --}}
            <a {{action session.invalidate}} class="button hvr-border-fade">
              Sign Out
            </a>
          {{else}}
            {{#link-to "login" class="button hvr-border-fade"}}
              Login
            {{/link-to}}
            {{#link-to "login.register" class="button hvr-border-fade"}}
              Register
            {{/link-to}}
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="https://use.fontawesome.com/2b59555316.js"></script>

{{outlet}}

<footer class="footer">
  <div class="footer__bar container">
    <i class="fa fa-copyright" aria-hidden="true"></i>
    <p class="text">2017 practip</p>
  </div>
</footer>
