<header class="banner">
  <nav class="banner__navbar">
    <div class="container">
      <div class="navlist navlist__left">
        <div class="button hvr-border-fade" href="#">
          {{#link-to "instrument"}}Home{{/link-to}}
        </div>
        <ul class="navlist navlist__right">
          <div class="button hvr-border-fade">
            {{#link-to "user-profile"}}profile{{/link-to}}
          </div>
          <div class="button hvr-border-fade">
            {{#link-to "login"}}Sign Out{{/link-to}}
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="https://use.fontawesome.com/2b59555316.js"></script>

{{outlet}}

<footer class="footer">
  <div class="footer__bar container">
    <i class="fa fa-copyright" aria-hidden="true"></i>
    <div class="copyright">2017 practip</div>
  </div>
</footer>
