<nav class="navbar">
  <div class="">
    <a class="navbar-brand" href="#">
      {{#link-to "dashboard"}}Home{{/link-to}}
    </a>
    <ul class="navbar__right">
      <li>
        {{#link-to "user-profile"}}Profile{{/link-to}}
      </li>
      <li>
        {{#link-to "login"}}Sign Out{{/link-to}}
      </li>
    </ul>
  </div>
</nav>

{{outlet}}
