<div class="section">
  <div class="container">
    <div class="user-profile">
      <sidebar class="sidebar center">
        <div class="section">
          <img src="/img/profile-mock.jpeg" alt="" class="sidebar__image">
          <p class="sidebar__username text__lowercase">joshswl</p>
          <p class="sidebar__bio text__lowercase">My real name is Kanye. I make dope music. I only do dope things. I'm dope.</p>
        </div>
        <div class="section">
          <p class="text">joshswl@gmail.com</p>
        </div>
        <div class="section">
          <div class="sidebar__instruments">
            <p class="sidebar__instruments--title text">instruments</p>
            <div class="sidebar__instruments--icons">
              <img src="/img/vocals-icon.png" alt="" class="sidebar__instruments--icons__actual">
              <img src="/img/guitar-icon.png" alt="" class="sidebar__instruments--icons__actual">
              <img src="/img/drums-icon.png" alt="" class="sidebar__instruments--icons__actual">
              <img src="/img/bass-icon.png" alt="" class="sidebar__instruments--icons__actual">
            </div>
          </div>
        </div>
      </sidebar>
      <div class="user-profile__videos center">
        <h2 class="user-profile__videos--title text__title">videos</h2>
        <div class="section">
          <img src="http://placecage.com/600/150" alt="" class="user-profile__videos--image">
        </div>
        <div class="section">
          <img src="http://placecage.com/600/150" alt="" class="user-profile__videos--image">
        </div>
        <div class="section">
          <img src="http://placecage.com/600/150" alt="" class="user-profile__videos--image">
        </div>
      </div>
    </div>
  </div>
</div>
