<div class="section">
  <div class="container">
    <div class="user-profile">
      <sidebar class="sidebar">
        <div class="section center">
          <img src="/img/profile-mock.jpeg" alt="" class="sidebar__image">
          <h2 class="sidebar__username text__lowercase">joshswl</h2>
          <p class="sidebar__bio text__lowercase">I enjoy playing folk music, but I hope to be good enough someday to play jazz.</p>
        </div>
        <div class="section center">
          <p class="text">joshswl@gmail.com</p>
        </div>
        <div class="section center">
          <div class="sidebar__instruments">
            <p class="sidebar__instruments--title text">instruments</p>
          </div>
        </div>
      </sidebar>
      <div class="user-profile__videos center">
        <h2 class="user-profile__videos--title text__title">videos</h2>
        <div class="section">
          <img src="http://placecage.com/600/150" alt="" class="user-profile__videos--image">
        </div>
        <div class="section">
          <img src="http://placecage.com/600/150" alt="" class="user-profile__videos--image">
        </div>
        <div class="section">
          <img src="http://placecage.com/600/150" alt="" class="user-profile__videos--image">
        </div>
      </div>
    </div>
  </div>
</div>
