{{!-- <div class="section">
  <div class="container">
    <div class="row">

      {{#each model as |instrument|}}
      <div class="row__item">
        <div class="instrument box">
          {{!-- <div class="instrument__image">
            <img src="http://placecage.com/200/200" alt="">
          </div> --}}
          {{#link-to 'instrument.challenge' instrument}}
            <div class="instrument--{{instrument.slug}}">
              {{instrument.title}}
            </div>
          {{/link-to}}
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div> --}}

{{#each model as |instrument|}}
  <span class="instrument instrument--{{title}}">
    {{#link-to 'instrument.challenge' instrument}}
      {{instrument.title}}
    {{/link-to}}
  </span>
{{/each}}
