<div class="section">
  <div class="container">
    <div class="row">

      {{#each model as |instrument|}}
      <div class="row__item">
        <div class="instrument hvr-fade">
          {{#link-to 'instrument.challenge' instrument}}
            <div class="instrument__title section text center">{{instrument.title}}</div>
            <div class="instrument__bg instrument__bg--{{instrument.slug}}"></div>
          {{/link-to}}
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div>
