<div class="section">
  <div class="container">
    <div class="row">

      {{#each model as |instrument|}}
      <div class="row__item">
        <div class="instrument box">
          {{#link-to 'instrument.challenge' instrument}}
            <div class="instrument--{{instrument.slug}}">
              {{instrument.title}}
            </div>
          {{/link-to}}
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div>
