{{!-- <div class="section">
  <div class="container">
    <div class="row">

      <div class="row__item">
        <div class="instrument">
          <div class="instrument__image">
            <img src="http://placecage.com/200/200" alt="">
            <h1 class="instrument__title">vocals</h1>
          </div>
        </div>
      </div>
      <div class="row__item">
        <div class="instrument">
          <div class="instrument__image">
            <img src="http://placecage.com/200/200" alt="">
            <h1 class="instrument__title">guitar</h1>
          </div>
        </div>
      </div>
      <div class="row__item">
        <div class="instrument">
          <div class="instrument__image">
            <img src="http://placecage.com/200/200" alt="">
            <h1 class="instrument__title">keys</h1>
          </div>
        </div>
      </div>
      <div class="row__item">
        <div class="instrument">
          <div class="instrument__image">
            <img src="http://placecage.com/200/200" alt="">
            <h1 class="instrument__title">drums</h1>
          </div>
        </div>
      </div>
      <div class="row__item">
        <div class="instrument">
          <div class="instrument__image">
            <img src="http://placecage.com/200/200" alt="">
            <h1 class="instrument__title">bass</h1>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> --}}

{{#each model as |instrument|}}
  {{instrument.title}}
{{/each}}
