<h1>Instruments</h1>
{{#each model as |instrument|}}
  <p>
    {{#link-to 'instrument.challenge' instrument}}
      <span class="instrument instrument--{{instrument.slug}}">{{instrument.title}}</span>
    {{/link-to}}
  </p>
{{/each}}
