<div class="section new-challenge">
  <div class="container">
    <div class="new-challenge__border">
      <form {{action "submitChallenge" on="submit"}}>
        <div class="section">
          {{input type="text" value=formValues.title class="form" placeholder="Title"}}
        </div>
        <div class="section">
          {{textarea rows="10" value=formValues.description class="form" placeholder="Description"}}
        </div>
        <div class="section">
          {{#link-to 'instrument.challenge'}}<button class="button__black">back</button>{{/link-to}}
          <button class="button__black">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
