<div class="section new-challenge">
  <div class="container">
    <div class="form-box center">
      <form {{action "submitChallenge" on="submit"}}>
        {{input type="text" value=formValues.title class="form" placeholder="Title"}}
        {{textarea rows="10" value=formValues.description class="form" placeholder="Description"}}
        <div class="button-bar">
          {{#link-to 'instrument.challenge' class="button button--black button--fullwidth"}}
            back
          {{/link-to}}
          <button class="button button--black button--fullwidth">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
