<div class="section new-challenge">
  <<div class="container">
    <div class="new-challenge__border">
      <form {{action "submitChallenge" on="submit"}}>
        <div class="section">
          {{input type="text" value=formValues.title class="form" placeholder="Title"}}
        </div>
        <div class="section">
          {{textarea rows="10" value=formValues.description class="form" placeholder="Description"}}
        </div>
        <div class="section">
          <div class="button hvr-border-fade">
            {{#link-to 'instrument.challenge'}}back{{/link-to}}
          </div>
          <button class="button hvr-border-fade">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
