<div class="section new-challenge">
  <div class="container">
    <div class="form-box center">
      {{#with (changeset model formValidations) as |changeset|}}
        <form {{action "submitChallenge" changeset on="submit"}}>
          {{input type="text" value=changeset.title class="form" placeholder="Title"}}
          {{textarea rows="10" value=changeset.description class="form" placeholder="Description"}}
          <div class="button-bar">
            {{#link-to 'instrument.challenge'}}
              <div class="button button--black">back</div>
            {{/link-to}}
            <button class="button button--black">submit</button>
          </div>
        </form>
      {{/with}}
    </div>
  </div>
</div>
