<div class="section new-challenge">
  <div class="container">
    <div class="form-box">
      {{!-- {{#with (changeset model) as |changeset|}} --}}
      {{#with (changeset model ChallengeValidations) as |changeset|}}
        <form {{action "saveEdits" changeset on="submit"}}>
          <div class="section">
            {{input type="text" value=changeset.title class="form" placeholder="Title"}}
          </div>
          <div class="section">
            {{textarea rows="10" cols="45" value=changeset.description class="form" placeholder="Description"}}
          </div>
          <div class="button-bar">
            {{#link-to 'instrument.challenge' class="button__black"}}
              back
            {{/link-to}}
            <button class="button__black">submit</button>
          </div>
        </form>
      {{/with}}
    </div>

    <ul>
      {{#each changeset.errors as |errorSet|}}
        {{#each changeset.validation as |error|}}
          <li>{{error}}</li>
        {{/each}}
      {{/each}}
    </ul>

  </div>
</div>
