<h1>Edit Challenge</h1>

{{#with (changeset model) as |changeset|}}
  <form {{action "saveEdits" changeset on="submit"}}>
    <p>Title</p>
    {{input type="text" value=changeset.title}}

    <p>Description</p>
    {{textarea cols="30" rows="10" value=changeset.description}}

    <p>
      {{#link-to 'instrument.challenge'}}<button>Back</button>{{/link-to}}
      <button>Submit</button>
    </p>
  </form>
{{/with}}
