<div class="challenges">
  <header class="challenges__header challenges__header--{{instrument.slug}}">
    <h1 class="challenges__header--title">{{instrument.title}}</h1>
    {{#link-to 'instrument.challenge' instrument}}
      <h4 class="challenges__header--subtitle hvr-underline-from-center">challenges</h4>
    {{/link-to}}
  </header>
  {{outlet}}
</div>
