<div class="section">
  <div class="container">
    <div class="center">
      <div class="login section">
        <input type="text" name="your-name" value size="40" class="form" placeholder="Username">
        <input type="text" name="your-password" value size="40" class="form" placeholder="Password">
        <div class="section">
          <button class="button__black">sign in</button>
        </div>
      </div>
    </div>
  </div>
</div>
