<img src="/img/logo.jpg" class="logo">
{{!-- {{#link-to 'instrument' class=""}}
  Start practicing
{{/link-to}} --}}

{{#link-to 'instrument' class="section center"}}
    <button class="button button--black">Start Practicing</button>
{{/link-to}}
